<carousel>
  <slide>
    <div class="main_slider">
     <img src="assets\slide\slider_2.jpg" alt="slide 1" >
      <div class="carousel-caption d-none d-md-block ">
       <h6>Spring / Summer Collection 2018</h6>
       <h2>30% Off New Arrivals</h2>
      </div>
    </div>
  </slide>
  <slide>
    <div class="main_slider">
     <img src="assets\slide\slider_1.jpg" alt="slide 2" >
      <div class="carousel-caption d-none d-md-block ">
        <h6>Women Collection 2018</h6>
        <h2>New    Arrivals</h2>
        </div>
      </div>
  </slide>
  <slide>
      <div class="main_slider">
       <img src="assets\slide\slider_3.jpg" alt="slide 3" >
        <div class="carousel-caption d-none d-md-block ">
         <h6>Men  Collection  2018</h6>
         <h2>New    Arrivals</h2>
        </div>
      </div>
  </slide>
</carousel>