<div class="filler"></div>
<footer class="footer_area">
    <ul class="footer-ul">
        <li>
            <div class="single_footer_area">
                <div class="footer-logo">
                    <img src="assets/logo/logo.jpg" alt="">
                </div>
            </div>
        </li>
        <li>
            <div class="single_footer_area">
                <div class="title_footer">About Us</div>
            <p> 
                We run our business from a small but gorgeous space.<br>
                We are extremely focused on customer satisfaction and we only use the finest and strongest materials, all of which are ethically sourced.<br>
                We pride ourselves on how tough our products are, the quality being second to none. <br>
                We hope you enjoy browsing through our range of products.
            </p>   
            </div>
        </li>
        <li>    
            <div class="title_footer">Contact Us</div>
            <div class="single_footer_area">
                <ul class="footer_widget_menu">
                    <li>web.facebook.com/fiore</li>
                    <li>twitter.com/fiore</li>
                    <li>Tel: 012-345-678-900</li>
                </ul><br>
                <h6>Please do get in touch!</h6>
            </div>
        </li>
    </ul>
</footer>

<!-- kkkk!>
