<app-carousel></app-carousel>

<ul>
    <li>
        <div class="single_catagory_area d-flex  bg-img" style="background-image: url(assets/logo/femme.jpg);">
        <div class="catagory-content">
            <h6>Spring's New Upadate</h6>
            <h2>Feminine Utility</h2>
            <a [routerLink]="['','women']" class="btn">W O M E N</a>
        </div>
        </div>
    </li>
    <li>
        <div class="single_catagory_area d-flex  bg-img" style="background-image: url(/assets/logo/homme.jpeg);">
        <div class="catagory-content">
            <h6>Amazing New Steals</h6>
            <h2>Men's Fashion</h2>
            <a [routerLink]="['','men']" class="btn">M E N</a>
        </div>
        </div>
    </li>
</ul>

